# Model Inference
---

In [1]:
#import library

import pickle
import json
import pandas as pd
import numpy as np

In [11]:
#kita load model

with open('list_num_cols.txt', 'r') as file_1:
  list_num_col = json.load(file_1)

with open('list_cat_cols_enc.txt', 'r') as file_2:
  list_cat_col_enc = json.load(file_2)

with open('standard_scaler.pkl', 'rb') as file_3:
  scaler = pickle.load(file_3)

with open('ohe_encoder.pkl', 'rb') as file_4:
  enc_ohe = pickle.load(file_4)

with open('model_regresi.pkl', 'rb') as file_5:
  model_ridge = pickle.load(file_5)

with open('list_cat_cols_notenc.txt', 'r') as file_6:
  list_cat_col_notenc = json.load(file_6)

In [12]:
# kita buat data baru yang akan digunakan untuk memprediksi 

data_inf = {'startingAirport': 'IAD',
            'destinationAirport': 'OAK',
            'elapsedDays': 0,
            'isBasicEconomy': 0,
            'isRefundable': 0,
            'isNonStop': 0,
            'baseFare': 228,
            'seatsRemaining': 4,
            'totalTravelDistance': 372,
            'orderingDistance': 46,
            'monthDeparture': 6,
            'travelDurationInMinutes': 262,
            'firstHourDeparture': 14,
            'firstDepartureAirlineCode': 'UA',
            'sumFlight': 2,
            'durationFlightInMinutes': 206,
            'seasonDeparture': 'spring',
            'firstCabinCode': 'coach',
            'totalWaitingTimeTransit': 56 
            }

data_inf = pd.DataFrame([data_inf])
data_inf

,startingAirport,destinationAirport,elapsedDays,isBasicEconomy,isRefundable,isNonStop,baseFare,seatsRemaining,totalTravelDistance,orderingDistance,monthDeparture,travelDurationInMinutes,firstHourDeparture,firstDepartureAirlineCode,sumFlight,durationFlightInMinutes,seasonDeparture,firstCabinCode,totalWaitingTimeTransit
0,IAD,OAK,0,0,0,0,228,4,372,46,6,262,14,UA,2,206,spring,coach,56

In [13]:
# kita pisahkan data numerik dan kategorik

data_inf_num = data_inf[list_num_col]
data_inf_cat_enc = data_inf[list_cat_col_enc]
data_inf_cat_notenc = data_inf[list_cat_col_notenc]

In [14]:
# kita cek
data_inf_num

,baseFare,seatsRemaining,totalTravelDistance,orderingDistance,travelDurationInMinutes,durationFlightInMinutes,totalWaitingTimeTransit
0,228,4,372,46,262,206,56

In [20]:
# kita lakukan scaling dan encoding

data_inf_num_scaled = scaler.transform(data_inf_num)
data_inf_cat_encoded = enc_ohe.transform(data_inf_cat_enc).toarray()
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded, data_inf_cat_notenc], axis = 1)

In [26]:
data_inf_df = pd.DataFrame(data_inf_final, columns=[list_num_col + list(enc_ohe.get_feature_names_out()) + list_cat_col_notenc])
data_inf_df = data_inf_df.drop(['orderingDistance', 'firstHourDeparture'], axis=1)

C:\Users\ARIF\AppData\Local\Temp\ipykernel_8940\2624301102.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  data_inf_df = data_inf_df.drop(['orderingDistance', 'firstHourDeparture'], axis=1)

In [28]:
# kita lakukan predict dengan Ridge

y_pred_inf = model_ridge.predict(data_inf_df)
y_pred_inf

array([[267.61294599]])

Insight:
* Kita dapat prediksi harga tiketnya sekitar 267.6